---
import { prisma } from "@/lib/prisma";
import type { Role } from "../../../generated/prisma/client";

let roles: Role[] = [];
let errorMensaje: string | null = null;

// intento leer los roles de la base de datos
try {
    roles = await prisma.role.findMany();
} catch (e: any) {
    errorMensaje = e.message;
}
---

<h1>Prueba de Base de Datos</h1>

<ul>
    {
        roles.map((role) => (
            <li>
                <strong>{role.nombre}</strong>:{role.descripcion}
            </li>
        ))
    }
</ul>

{errorMensaje && <p>Error: {errorMensaje}</p>}
