---
import "../styles/global.css";
import Footer from "../components/Footer.astro";

const { bodyClass = "p-6", title = "Proyecto DAW", darkMode = false } = Astro.props;

// Detecto si estamos en una página legal para no mostrar el footer
const isLegalPage =
  Astro.url.pathname === "/privacidad" ||
  Astro.url.pathname === "/aviso-legal" ||
  Astro.url.pathname === "/cookies";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body
    class={`flex flex-col min-h-screen ${bodyClass} ${darkMode ? "dark bg-dent-bg text-dent-dark" : ""}`}
  >
    <div class="grow">
      <slot />
    </div>

    {!isLegalPage && <Footer />}
  </body>
</html>

<!-- Problemas con el refresco de la información en el dashboard, de momento lo soluciono de esta manera -->
<!-- <script is:inline>
  // Solo activar en el dashboard
  if (window.location.pathname.includes("/dashboard")) {
    setInterval(() => {
      // Si el usuario no tiene el foco en un textarea o input, recarga
      const elementoActivo = document.activeElement.tagName;
      if (elementoActivo !== "TEXTAREA" && elementoActivo !== "INPUT") {
        window.location.reload();
      }
    }, 60000); // Lo he puesto a 1 minuto de momento, ya veremos si lo cambio
  }
</script> -->
