---
import "../styles/global.css";
import Footer from "../components/Footer.astro";

const { bodyClass = "p-6", title = "Proyecto DAW", darkMode = false } = Astro.props;

// Detecto si estamos en una página legal para no mostrar el footer
const isLegalPage =
  Astro.url.pathname === "/privacidad" ||
  Astro.url.pathname === "/aviso-legal" ||
  Astro.url.pathname === "/cookies";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body
    class={`flex flex-col min-h-screen ${bodyClass} ${darkMode ? "dark bg-dent-bg text-dent-dark" : ""}`}
  >
    <div class="flex-grow">
      <slot />
    </div>

    {!isLegalPage && <Footer />}
  </body>
</html>
