---
import "../styles/global.css";
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Proyecto DAW</title>
    </head>
    <body class="p-6">
        <slot />
    </body>
</html>
